<!DOCTYPE html>
<html lang="en">
<head>
	<title>About the Data: Social Isolation and Loneliness in the U.S.</title>
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bigstyle.css') }}" />
</head>
<body>
	<h1>Social Isolation and Loneliness in the U.S.</h1>
	
	<nav>
		<ul>
			<li><a href="homepage.html">Home</a></li>
			<li id = "current"><a href="aboutdata.html">About the Data</a></li>
		</ul>
	</nav>
	<h2>About the Data</h2>
	<div class="main-content" id="description">
		<h3>What Is This Dataset?</h3>
		<p><a href="https://ropercenter.cornell.edu/ipoll/study/31115454">This dataset</a> contains the results of a telephone survey of Americans conducted in 2018. Participants were asked a series of questions such as "Taken all together, how would you say things are in your life these days?" and other questions about mental and social wellbeing. The variables measured include happiness, perceived loneliness, social isolation, etc.</p>
	</div>
	<div class="main-content" id="metadata">
		<h3>Metadata</h3>
		<ul>
			<li><b>Title:</b> Survey on Loneliness and Social Isolation in the United States, the United Kingdom, and Japan</li>
			<li><b>Authors:</b> The Kaiser Family Foundation and The Economist</li>
			<li><b>Date:</b> April 18, 2018 - May 23, 2018, United States</li>
			<li><b>Link:</b> For more detailed information about the dataset along with a download link, click <a href="https://ropercenter.cornell.edu/ipoll/study/31115454">here</a>.</li>
		</ul>
	</div>
	
	<div class="main-content" id="terms-of-use">
		<h3>Terms of Use</h3>
		<p>"Research may not be re-disseminated without written permission. The results of any analyses conducted on the data may, however, be published with appropriate acknowledgments and source citation."</p>
	</div>
</body>
</html>