<!DOCTYPE html>
<html lang="en"> 
<head>
	<title>Social Isolation and Loneliness in the U.S. </title>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bigstyle.css') }}" />
</head>
<body>
	<h1>Social Isolation and Loneliness in the U.S. </h1>

	<nav>
		<ul>
			<li id = "current"><a href="homepage">Home</a></li>
			<li><a href="aboutdata">About the Data</a></li>
		</ul>
	</nav>

	<!-- This highlight part is for the query. We want to have a scroll bar so people can select questions(x, y variables) -->
	<div  class="selectorBox">
		<h2 id="data">Select Questions and Make a Graph</h2>

<form action="/sampleresults" method="post">
<p><label for="xvar">Select Variable X</label></p>
        <select id="xvar" name="xvar" size="1">
        <option value="None">None</option>
        <option value="Happiness">Taken all together, how would you say things are in your life these days? </option>
        <option value="FamilyLife">Are you satisfied or dissatisfied with your family life?</option>
        <option value="Finances">Are you satisfied or dissatisfied with your personal financial situation?</option>
        <option value="Employment">Are you satisfied or dissatisfied with your current employment situation?</option>
        <option value="Housing">Are you satisfied or dissatisfied with your current housing situation?</option>
        <option value="Support">Do you have a lot, a fair amount, just a few, or no people who you can rely on?</option>
        <option value="HealthWellness">Are you a member of a health or wellness group?</option>
        <option value="HWFrequency">How often do you participate in meetings with this group?</option>
        <option value="SocialGroup">Are you a member of a social group?</option>
        <option value="SocialGroupFrequency">How often do you participate in meetings with this group?</option>
        <option value="ServiceOrganization">Are you a member of a service organization?</option>
        <option value="SOrganizationFrequency">How often do you participate in meetings with this group?</option>
        <option value="LonelinessFrequency">How often do you feel lonely?</option>
        <option value="Companionship">How often do you feel that you lack companionship?</option>
        <option value="LeftOut">How often do you feel left out?</option>
        <option value="Isolated">How often do you feel isolated from others?</option>
        <option value="Lonely">Are you lonely?</option>
        <option value="Discuss">How many people in your life can you talk with about things that are important?</option>
        <option value="Neighbors">Are you satisfied with the number of meaningful connections you have with your neighbors?</option>
        <option value="Family">Are you satisfied with the number of meaningful connections you have with family?</option>
        <option value="Friends">Are you satisfied with the number of meaningful connections you have with friends?</option>
        <option value="FamilyInPerson">Other than family you live with, how often do you talk with family in person?</option>
        <option value="FamilyOverPhone">Other than family you live with, how often do you talk with family over the phone?</option>
        <option value="FamilyOverSocialMedia">How often do you talk with family through email, text or social media?</option>
        <option value="FriendsInPerson">Other than friends you live with, how often do you talk with friends in person?</option>
        <option value="FriendsOverPhone">Other than friends you live with, how often do you talk with friends over the phone?</option>
        <option value="FriendsOverSocialMedia">How often do you talk with friends through email, text or social media?</option>
        <option value="Problem">How much have you heard or read about the problems of loneliness and social isolation?</option>
        <option value="PublicOrIndividual">Is loneliness and social isolation is a public health problem or an individual one?</option>
        <option value="Government">How much of a role should the government play in reducing loneliness and social isolation?</option>
        <option value="Individuals">How much should individuals and families reduce loneliness and social isolation?</option>
        <option value="Nonprofits">How much should nonprofits and charities reduce loneliness and social isolation?</option>
        <option value="Churches">How much of a role should churches play in reducing loneliness and social isolation?</option>
        <option value="Factors">Do you think loneliness can be blamed on an individual or on outside factors? </option>
        <option value="MovingAway">Is more people moving away from where they grew up a reason that people are socially isolated?</option>
        
</select><br><br>

<p><label for="yvar">Select Variable Y</label></p>
        <option value="None">None</option>
        <option value="Happiness">Taken all together, how would you say things are in your life these days? </option>
        <option value="FamilyLife">Are you satisfied or dissatisfied with your family life?</option>
        <option value="Finances">Are you satisfied or dissatisfied with your personal financial situation?</option>
        <option value="Employment">Are you satisfied or dissatisfied with your current employment situation?</option>
        <option value="Housing">Please tell us whether you are satisfied or dissatisfied with your current housing situation?</option>
        <option value="Support">Do you have a lot, a fair amount, just a few, or no people who you can rely on?</option>
        <option value="HealthWellness">Are you a member of a health or wellness group</option>
        <option value="HWFrequency">How often do you participate in meetings with this group?</option>
        <option value="SocialGroup">Are you a member of a social group</option>
        <option value="SocialGroupFrequency">How often do you participate in meetings with this group?</option>
        <option value="ServiceOrganization">Are you a member of a service organization?</option>
        <option value="SOrganizationFrequency">How often do you participate in meetings with this group?</option>
        <option value="LonelinessFrequency">How often do you feel lonely?</option>
        <option value="Companionship">How often do you feel that you lack companionship?</option>
        <option value="LeftOut">How often do you feel left out?</option>
        <option value="Isolated">How often do you feel isolated from others?</option>
        <option value="Lonely">Are you lonely?</option>
        <option value="Discuss">How many people in your life can you talk with about things that are important to you?</option>
        <option value="Neighbors">How satisfied are you with the number of meaningful connections you have with your neighbors?</option>
        <option value="Family">How satisfied are you with the number of meaningful connections you have with family?</option>
        <option value="Friends">How satisfied are you with the number of meaningful connections you have with friends?</option>
        <option value="FamilyInPerson">Other than family you live with, how often do you talk with family members in person?</option>
        <option value="FamilyOverPhone">Other than family you live with, how often do you talk with family members over the phone?</option>
        <option value="FamilyOverSocialMedia">How often do you talk with family members through email, text or social media?</option>
        <option value="FriendsInPerson">Other than friends you live with, how often, if ever, do you talk with friends in person?</option>
        <option value="FriendsOverPhone">Other than friends you live with, how often, if ever, do you talk with friends over the phone?</option>
        <option value="FriendsOverSocialMedia">How often, if ever, do you talk with friends through email, text or social media?</option>
        <option value="Problem">How much have you heard or read about the problems of loneliness and social isolation?</option>
        <option value="PublicOrIndividual">Do you think loneliness and social isolation is a public health problem or an individual one?</option>
        <option value="Government">How much of a role should the government play in helping reduce loneliness and social isolation?</option>
        <option value="Individuals">How much should individuals and families help reduce loneliness and social isolation?</option>
        <option value="Nonprofits">How much should nonprofits and charities help reduce loneliness and social isolation?</option>
        <option value="Churches">How much of a role should churches play in helping reduce loneliness and social isolation?</option>
        <option value="Factors">In general, do you think loneliness can be blamed on an individual or on outside factors? </option>
        <option value="MovingAway">Is more people moving away from where they grew up a reason that people are socially isolated?</option>
</select><br><br>
        <button class="submit">GO!</button>
        </form>
	</div>

	<div class="content" class = "homebase">
		<h2 id="why">Why Loneliness?</h2>

		<p>After the strike of the Covid-19 pendamic, people are forced to quarantine and work from home for months. 
			Some studys <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7306546/">(e.g.)</a> found that social distancing at home had some impact on people's loneliness, 
			and this raised our interest in finding the possible relation between loneliness and other factors.
		</p>

		<h2 id= "about"> What Can We do?</h2>
		<p>This site will allow users to investigate the relationships between loneliness and isolation by generating plots for different variables, 
			other habits and lifestyle choices, and general happiness and contentment, in order to encourage thinking about how these things impact each other and our daily lives.
		</p>


	</div>



</body>
</html>