<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='newStyle.css') }}">
	<title>Social Isolation and Loneliness in the United States</title>
</head>
<body>

<h1>Social Isolation and Loneliness in the U.S.</h1>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href = "aboutdata">About the Data</a></li>
    </ul>
</nav>

<figure class="contentBox">
    <img src="{{ url_for('static', filename='plot.png') }}"/>
</figure>
<div class="back">
	<p> <a href="/">BACK</a></p>
</div>
<div class= "save">
    <p> <a href="{{ url_for('static', filename='plot.png') }}" download>SAVE IMAGE</a></p>
</div>
<div class="cite">
	<h2> Cite this Data</h2>
	<p> The Economist/Henry J. Kaiser Family Foundation. Kaiser Family Foundation/The Economist Poll: Survey on Loneliness and Social Isolation in the United States, the United Kingdom, and Japan (US), 2018 [Dataset]. Roper #31115454, Version 2. Social Science Research Solutions (SSRS) [producer]. Cornell University, Ithaca, NY: Roper Center for Public Opinion Research [distributor]. doi:10.25940/ROPER-31115454</p>
</div>

</body>
</html>