<!DOCTYPE html>
<html>
<head>
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bigstyle.css') }}" />
	<title>Social Isolation and Loneliness in the United States</title>
</head>
<body>

<h1>Social Isolation and Loneliness in the U.S.</h1>
<nav>
    <ul>
        <li><a href="homepage">Home</a></li>
        <li><a href = "aboutdata">About the Data</a></li>
    </ul>
</nav>

<figure><img src="data.jpg"/><figcaption> NOTE: This figure is a mock up, and does not accurately represent the dataset.</figcaption>
</figure>
<button class="back" onclick="location.href='homepage'">
	<p>BACK TO QUERY</p>
</button>
<button class= "save" onclick="window.open('data.jpg')">
    <p>SAVE IMAGE</p>
</button>
<div class="cite">
	<h2> Cite this Data</h2>
	<p> The Economist/Henry J. Kaiser Family Foundation. Kaiser Family Foundation/The Economist Poll: Survey on Loneliness and Social Isolation in the United States, the United Kingdom, and Japan (US), 2018 [Dataset]. Roper #31115454, Version 2. Social Science Research Solutions (SSRS) [producer]. Cornell University, Ithaca, NY: Roper Center for Public Opinion Research [distributor]. doi:10.25940/ROPER-31115454</p>
</div>

</body>
</html>