body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(56,60,62);
}

h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(140,187,221);
    color: rgb(56,60,62);
    text-align: center;
}

nav ul {
    background-color: rgb(75,105,127);
    list-style-type: none;
    overflow: hidden;
    width: 96%;
}

nav li {
    float: left;
    font-size: 1.1em;
    font-weight: bold;
}

nav li a {
    display: block;
    color: rgb(230,229,224);
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

nav li a:hover {
    color: rgb(56,60,62);
    background-color: rgb(192, 255, 0);
}

figure {
    float: left;
    margin-right: 30px;
}

figcaption {
    text-align: center;
}

img {
    border: 20px solid rgb(140,187,221);
}

div.back {
    background-color: rgb(140,187,221);
    font-size: 40px;
    text-align: center;
    width: 25%;
    float: right;
    margin: 10px;
}

div.back:hover {
    color: rgb(56,60,62);
    background-color: rgb(192, 255, 0);
}

div.save {
    background-color: rgb(140,187,221);
    font-size: 40px;
    color: rgb(56,60,62);
    text-align: center;
    width: 25%;
    float: right;
    margin: 10px;
}

div.save:hover {
    color: rgb(56,60,62);
    background-color: rgb(192, 255, 0);
}

div.cite {
    background-color: rgb(140,187,221);
    font-size: 15px;
    color:rgb(56,60,62);
    text-align: center;
    width: 25%;
    float: right;
    margin: 10px;
}

div.cite:hover {
    color: rgb(56,60,62);
    background-color: rgb(192, 255, 0);
}

figcaption {
    color: rgb(230,229,224);
}
