body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(56,60,62);
    color: rgb(230,229,224);
}

h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color:rgb(140,187,221);
    color: rgb(230,229,224);
    text-align: center;
}

h3 {
   color: rgb(192,255,0);
    background-color: rgb(134,156,69);
    width: 100px;
    float: left;
    position: relative;
    left: 40%;
    font-size: 50px;

}


h4 {
    background-color: rgb(75, 105,127);
    float: left;
    width: 45%;
    
}



nav ul {
    list-style-type: none;
    width: 96%;
    overflow: hidden;
    background-color: rgb(75, 105,127);
    
}


nav li {
    float: left;
    font-size: 1.1em;
    font-weight: bold;
}

nav li a {
    display: block;
    color: rgb(230,229,224);
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

nav li a:hover {
    color: rgb(56,60,62);
    background-color: rgb(192,255,0);
}




div {
    clear: left;   
    padding-bottom: 10px;  
}

div.highlight {
    background-color: rgb(140, 187, 221);
    width: 500px;
    float: right;
    padding: 10px;
    margin: 50px;
}



h1,h2,h3,h4 {
    font-family: Verdana, Geneva, sans-serif; 
 }
 
 p {
     font-family: Verdana, Geneva, sans-serif;
     line-height: 1.4;
 }
 
 li {
     font-family: Verdana, Geneva, sans-serif;
     line-height: 1.4;
 }
 
 nav li {
     float: left;
     font-size: 1.1em;
     font-weight: bold;
 }
 